body
{
	color: #676767;
	font-family: arial, sans-serif
}
a
{
	text-decoration: none;
}
#container
{
	width: 100%
}
#header
{
	display: flex;
	background-color: white;
	text-align: right;
	display: flex;
	justify-content: flex-end;
	padding: 20px
}
.connexion
{
	margin-left: 10px
}
.applications
{
	margin-left: 10px
}
.images
{
	margin-left: 10px
}
#content
{
	width: 100%
	height: 75%;
	padding-top: 100px
}
.logogoogle
{
	display: flex;
	align-items: center;
	justify-content: center;
}
.navigation {
    display: block;
    font: 1rem 'arial', sans-serif;
    display: flex;
    justify-content: center;
}

input,
label {
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
    margin: .4rem 0;
}
#boutons
{
	display: flex;
	justify-content: center;
}
.bouton1
{
	display: flex;
	justify-content: center;
}
.bouton2
{
	display: flex;
	justify-content: center;
	margin-left: 20px;
}
#footer
{
	background-color: red
	height: 110px;
	width: 1240px;
	display: flex;
	text-align: end
	justify-content: space-around;
	align-items: flex-end;
}
.paramètres
{
	margin-left: 10px
}
.conditions
{
	margin-left: 10px
}
.confidentialité
{
	margin-left: 10px
}
.info
{
	margin-left: 200px
}
.publicité
{
	margin-right: 10px
}
.entreprise
{
	margin-right: 10px
}
.àpropos
{
	margin-right: 10px;
}
.commentçamarche
{
	margin-right: 10px
}
a:link
{
	text-decoration: none;
	color:#676767;
}
a:hover
{
	text-decoration: underline;
}
a:visited
{
	color: #676767
}
